
.hvr-pulse {
  display: inline-block;
  vertical-align: middle;

}

button {
  color: #d0e1f9;
  font-size: 15px;
  /* font-weight: 700; */
  background-color: #4d648d;
  border-radius: 4px;
}

button:hover {
  background-color: #283655;
  color: #d0e1f9;
  transform: scale(1.1);
}

svg {
  /* transition: transform .2s; */
  position: center;
  width: 40px;
  color: #4d648d;
}
svg:hover {
  transform: scale(1.2);
  color: #283655;
}



* {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  text-decoration: none;
}

body {
  background-color: #d0e1f9;
  color: #1e1f26;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 30px 1fr;
  padding: 20px
}

main {
  grid-row: 2;
  grid-column: 1 / 12;
  margin-top: 25px;
}

#about {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 25px 1fr 25px;
}

.maintitle {
  font-family: "Codystar", cursive;
  font-size: large;
}
.blurb {
  grid-column: 1/4;
  grid-row: 2 /4;
}

.photocontainer {
  grid-column: 4 / 6;
}

.funfactbutton {
  grid-row: span;
}
#skills {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
#portrait {
  width: 300px;
  float: right;
}
.photo {
  grid-column: 4;
  display: inline-block;
}

.giphy {
  width: 500px;
}

li {
  list-style-type: none;
  padding: 10px;
}

#navbar ul {
  display: flex;
  flex-direction: row;
}

#navbar {
  /* border: 1px dotted #4D648D; */
  font-weight: bold;

  display: flex;
  justify-content: flex-end;
  font-size: 14px;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  grid-row: 1;
  grid-column: 12;
  /* background-color: #d0e1f9; */

  /* background-image: linear-gradient(to right, #d0e1f9, #e2edfb); */
  background-image: linear-gradient(#ffffff, #d0e1f9);
}
#navbar a:hover {
  color: #d0e1f9;
  font-weight: 700;
  background-color: #283655;
  border-radius: 6px;
}

a {
  color: #4d648d;
  text-decoration: none;
}
#title {
  font-size: 20px;

}


.button {
  color: #d0e1f9;
  font-size: 15px;
  background-color: #4d648d;
  border-radius: 4px;
}

.button:hover {
  background-color: #283655;
  color: #d0e1f9;
  transform: scale(1.2);
}

.giphy {
  width: 300px;
}

.hide {
  display: none;
}

.snowmancontainer {
  grid-row: 4;
  grid-column: 6 / 10;
}

.blurb {
  grid-row: 2;
}

#projects {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 25px auto 1fr auto 25px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#snowmantitle {
  grid-column: 1;
  grid-row: 2;
}

#rpstitle {
  grid-column: 2;
  grid-row: 2;
}

#snowmanpic {
  grid-column: 1;
  grid-row: 3;
}

#rpspic {
  grid-column: 2;
  grid-row: 3;
}
#contact {
  display: flex;
  justify-content: center;
}
.contacticons > ul > li {
  display: inline;
}

.advice {
  text-align: center;
}


@media screen and (max-width: 800px) {
  .blurb {
    width: 90%
  }
  
  #portrait {
    width: 80%
  }
}

@media screen and (max-width: 680px) {
  .blurb {
    width: 90%
  }
  #portrait {
width: 80%
  }
  
 img {
    padding: 10px;
    width: 70%;
  }
}