/* NAVBAR */

/* Pulse from http://ianlunn.github.io/Hover/*/
@-webkit-keyframes hvr-pulse {
  /* 25% {
      -webkit-transform: scale(1.1);
      transform: scale(1.1);
    }
    75% {
      -webkit-transform: scale(0.9);
      transform: scale(0.9); 
    }*/
}
@keyframes hvr-pulse {
  /* 25% {
      -webkit-transform: scale(1.1);
      transform: scale(1.1);
    }
    75% {
      -webkit-transform: scale(0.9);
      transform: scale(0.9); 
    }*/
}
.hvr-pulse {
  display: inline-block;
  vertical-align: middle;
  /* -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);  */
}
.hvr-pulse:hover,
.hvr-pulse:focus,
.hvr-pulse:active {
  /* -webkit-animation-name: hvr-pulse;
    animation-name: hvr-pulse;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite; */
}

/* fade in for name
#maintitle {
    display: inline-block;
    font-family: 'Montserrat';
    font-size: 30px;
    color: black;
    text-transform: none;
    margin: 0 20px;
    opacity: 0.0;
    animation: fadeIn ease 10s;
    -webkit-animation: fadeIn ease 10s;
    }
    
    @keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
    }
    
    @-moz-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
    }
    
    @-webkit-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
    }
    
    @-o-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
    }
    
    @-ms-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
    } */

button {
  color: #d0e1f9;
  font-size: 15px;
  /* font-weight: 700; */
  background-color: #4d648d;
  border-radius: 4px;
}

button:hover {
  background-color: #283655;
  color: #d0e1f9;
  transform: scale(1.1);
}

svg {
  /* transition: transform .2s; */
  position: center;
  width: 40px;
  color: #4d648d;
}
svg:hover {
  transform: scale(1.2);
  color: #283655;
  /* background-color:  */
  /* color: #ffffff; */
}

/* a:hover {
color: #D0E1F9;
font-weight: 700;
background-color: #283655;
border-radius: 6px;
} */

* {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  text-decoration: none;
}

body {
  background-color: #d0e1f9;
  color: #1e1f26;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 30px 1fr;
}

main {
  /* display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr); */
  grid-row: 2;
  grid-column: 1 / 12;
  margin-top: 25px;
}

#about {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 25px 1fr 25px;

  /* grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(6, 1fr); */
}

.maintitle {
  font-family: "Codystar", cursive;
  font-size: large;
}
.blurb {
  grid-column: 1/4;
  grid-row: 2 /4;
}

.photocontainer {
  grid-column: 4 / 6;
}

.funfactbutton {
  grid-row: span;
}
#skills {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
#portrait {
  width: 300px;
  float: right;
}
.photo {
  grid-column: 4;
  display: inline-block;
}

.giphy {
  width: 500px;
}

li {
  list-style-type: none;
  padding: 10px;
}

#navbar ul {
  display: flex;
  flex-direction: row;
}

#navbar {
  /* border: 1px dotted #4D648D; */
  font-weight: bold;

  display: flex;
  justify-content: flex-end;
  font-size: 14px;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  grid-row: 1;
  grid-column: 12;
  /* background-color: #d0e1f9; */

  /* background-image: linear-gradient(to right, #d0e1f9, #e2edfb); */
  background-image: linear-gradient(#ffffff, #d0e1f9);
}
#navbar a:hover {
  color: #d0e1f9;
  font-weight: 700;
  background-color: #283655;
  border-radius: 6px;
}

a {
  color: #4d648d;
  text-decoration: none;
}
#title {
  font-size: 20px;
  /* grid-row: 4;
    grid-column: 7; */
}

/* monotone effect on photo */
#photo:hover {
  /* background-color: #283655;
    -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  opacity: 0.9; */
}

/* a:hover {
    color: #3A5199;

} */

.contact > li {
  /* display: inline;
  vertical-align: middle; */
}

.button {
  color: #d0e1f9;
  font-size: 15px;
  /* font-weight: 700; */
  background-color: #4d648d;
  border-radius: 4px;
}

.button:hover {
  background-color: #283655;
  color: #d0e1f9;
  transform: scale(1.2);
}

.giphy {
  width: 300px;
}

.hide {
  display: none;
}

#snowmaninner {
  /* color: #D0E1F9;
    background-color: #1E1F26; */
}
#about {
  /* grid-row: 4;
    grid-column: 7; */
}

.snowmancontainer {
  grid-row: 4;
  grid-column: 6 / 10;
}

.blurb {
  /* grid-column: 1 / 6; */
  grid-row: 2;
}

#projects {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 25px auto 1fr auto 25px;
}

.card {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
}
#snowmantitle {
  grid-column: 1;
  grid-row: 2;
}

#rpstitle {
  grid-column: 2;
  grid-row: 2;
}

#snowmanpic {
  grid-column: 1;
  grid-row: 3;
}

#rpspic {
  grid-column: 2;
  grid-row: 3;
}
#contact {
  display: flex;
  justify-content: center;
}
.contacticons > ul > li {
  /* display: flex; 
  flex-wrap: wrap;
  justify-content: center; */
  display: inline;
}

.advice {
  text-align: center;
}
